# Variables d'environnement — CloudApp
# Copie ce fichier en .env et remplis les valeurs

DOCKER_USERNAME=ton_username_docker
SLACK_WEBHOOK_URL=ton_webhook_slack
SERVER_HOST=ton_ip_vps
SERVER_USER=ubuntu